@charset "utf-8";
html {
font-size: 16px;
}
/* 「*」はユニバーサルセレクタ(すべての要素を対象にするセレクタ)でbox-sizing: border-box;を指定 */
/* この指定(してい)はborderとpaddingをボックスサイズ(widthとheight)の中に含めて算出するので、スタイリングがしやすい*/
*, *::before, *::after {
box-sizing: border-box;
}
body{
margin: 0;
line-height: normal; /*ブラウザが自動的に行間を決める*/
font-family: "Helvetica Neue",
Arial,
"Hiragino Kaku Gothic ProN",
"Hiragino Sans",
Meiryo,
sans-serif;
/* background: rgb(224, 149, 216); */
background-image:url("../img/Energy-Sunset.png") ;
overflow: hidden;
background-size: cover;
}
p{
margin: 0;
padding: 0;
}
header{
    margin-top: 8px;
    color:#ff5100;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.back{
    text-align: left;
}
#btn99{
    padding: 0.5em;
    border-radius: 0.3em;
    color: hotpink;
    font-size: 1.5em;
    background: rgb(26,212,212);
    cursor: pointer;
}
.wrapper{
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
    text-align: center;
}
#btn1{
    position:relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;               
    color:rgb(0, 255, 213);
    font-weight:bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.6);
    background: linear-gradient(#f80000 0%,#f8e42e 100%);
    box-shadow: 0 10px 0 rgb(167, 6, 6);
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
#btn1:hover{
    background: linear-gradient(rgb(255, 255, 0) 0%, rgb(253, 0, 0) 100%);
}
#btn1:active{
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: 0 5px 0 rgb(250, 247, 96);
}
footer{
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: rgb(0, 0, 0);
    font: 16px Rajdhani;
    text-align: center;
    /* background: rgb(87, 71, 71); */
    font-style: italic;
    background: linear-gradient(rgb(253, 93, 1) 0%, rgb(253, 143, 0) 100%);
    
}
.shutter{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    margin: 0em;
    padding: 0em;
    background-color: #1e1e1e;
    animation: byeShutter 2.5s forwards;
}
.shutter::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    margin: auto;
    background-color: #fff;
    animation: shutterOpen 2.5s forwards;
}
@keyframes byeShutter{
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: -1;
    }
}
@keyframes shutterOpen{
    0%{
        width: 0;
        height: 0.05em;
    }
    50%{
        width: 100%;
        height: 0.05em;
    }
    90%{
        width: 100%;
        height: 100%;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 480px) {
    body{
        background-position: 50% 0%;
        background-size: auto 1000px;
    }
    header{
        color: rgb(173, 50, 20);
        font-size: 27px;
    }
}

